stages:
  - build       # from server.base-image.yml
  - security    # from server.base-image.yml
  - push        # from server.base-image.yml
  - production  # from backend.production.yml

# Include all the modular YML files
include:
- project: 'server/yml'
  ref: 'main'
  file: 'server.base-image.yml'
- project: 'server/yml'
  ref: 'main'
  file: 'backend.test.yml'
- project: 'server/yml'
  ref: 'main'
  file: 'backend.production.yml'

# Stage: build

build:
  extends: .build_and_push_multiarch
  script:
    - set -e
    - echo "Build Running..."
    # Conditional logic to set CI_APPLICATION_TAG based on the branch
    - |
      if [[ "$CI_COMMIT_BRANCH" == "master" || "$CI_COMMIT_BRANCH" == "main" ]]; then
        # Extract base image from Dockerfile
        BASE_IMAGE=$(grep -i '^FROM' Dockerfile | head -n 1 | awk '{print $2}')
        # Sanitize the base image (replace : with -, optionally / with _)
        BASE_IMAGE_SANITIZED=${BASE_IMAGE//:/-}
        BASE_IMAGE_SANITIZED=${BASE_IMAGE_SANITIZED//\//_}
        # Compose the application tag
        export CI_APPLICATION_TAG="${MajorVersion}.${MinorVersion}.${CI_JOB_ID}-${BASE_IMAGE_SANITIZED}"
        export PUSH_IMAGE_TAG_LATEST="-t $CI_REGISTRY_IMAGE:latest"
      else
        export CI_APPLICATION_TAG="$CI_COMMIT_SHA"
        export PUSH_IMAGE_TAG_LATEST=""
      fi
    - echo "CI_APPLICATION_TAG=$CI_APPLICATION_TAG" >> build.env
    # Build & push multi-arch + registry cache
    - docker buildx build
      --platform linux/amd64,linux/arm64
      --provenance=false 
      --sbom=false
      -t "$CI_REGISTRY_IMAGE:$CI_APPLICATION_TAG"
      $PUSH_IMAGE_TAG_LATEST
      --cache-from type=registry,ref=$CI_REGISTRY_IMAGE:buildcache
      --cache-to type=registry,ref=$CI_REGISTRY_IMAGE:buildcache,mode=max
      --push
      .

# # Stage: security

grype_scan/amd64:
  extends: .grype_scan_multiarch

grype_scan/arm64:
  extends: .grype_scan_multiarch
  needs:
    - build
    - grype_scan/amd64
  variables:
    GRYPE_SCAN_PLATFORM: "linux/arm64"

# Stage: production

update_image_tag:
  extends: .update_image_tag
  variables:
    SCRIPT_NAME: "etc/scripts/update-variables.sh"
  dependencies: 
    - "build"
